@model IQueryable<DishesСategory>

@{
    DataManager dataManager = ViewBag.DataManager;
}
<div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                        @dataManager.TextFields.GetTextFieldByCodeWord("Menu").Title
                    </h2>
                    <p class="title-caption text-center">@dataManager.TextFields.GetTextFieldByCodeWord("Menu").Subtitle</p>
                </div>
                <div class="tab-menu">
                    <div class="slider slider-nav">
                        @{
                            var categories = dataManager.DishesCategories.GetDishesCategories().OrderBy(x => x.IndexNumber);
                            foreach (DishesСategory entity in categories)
                            {
                                <div class="tab-title-menu">
                                    <h2>@entity.Title</h2>
                                    <p> <i class="@entity.TitleIconPath"></i> </p>
                                </div>
                            }
                        }
                    </div>
                    <div class="slider slider-single">

                        @foreach (DishesСategory entity in categories)
                        {
                            <div id="foods" class="clearfix grid">

                                @{
                                    var dishes = entity.Dishes;

                                    if (dishes != null)
                                    {
                                        foreach (Dish dish in dishes)
                                        {
                                            <figure class="effect-milo  wowload fadeInUp">
                                                <img src="images/dish Images/@dish.TitleImagePath?width=1234&height=800" alt="img01" />
                                                <figcaption>
                                                    <h2>@dish.Title</h2>
                                                    <p>
                                                        @dish.Subtitle<br>
                                                        <a href="images/dish Images/@dish.TitleImagePath?width=1234&height=800" title="1" data-gallery>Чекни</a>
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        }
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--end tab-menu-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->
 