@model IQueryable<DishesСategory>

@{
    DataManager dataManager = ViewBag.DataManager;
}
<div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                        @dataManager.TextFields.GetTextFieldByCodeWord("Menu").Title
                    </h2>
                    <p class="title-caption text-center">@dataManager.TextFields.GetTextFieldByCodeWord("Menu").Text</p>
                </div>
                <div class="tab-menu">
                    <div class="slider slider-nav">
                        @{
                            var categories = dataManager.DishesCategories.GetDishesCategories().OrderBy(x => x.IndexNumber);
                            foreach (DishesСategory entity in categories)
                            {
                                <div class="tab-title-menu">
                                    <h2>@entity.Title</h2>
                                    <p> <i class="@entity.TitleIconPath"></i> </p>
                                </div>
                            }
                        }
                    </div>
                    <div class="slider slider-single ">

                        @foreach (DishesСategory entity in categories)
                        {<div>
                                @{
                                    var dishes = entity.Dishes;

                                    if (dishes != null)
                                    {
                                        foreach (Dish dish in dishes)
                                        {
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                                <div class="offer-item">
                                                    <a href="~/images/dish Images/@dish.TitleImagePath" data-lightbox="image-2">
                                                        <img src="~/images/dish Images/@dish.TitleImagePath?width=1200&height=1200" alt="" class="img-responsive">
                                                    </a>
                                                    <div>
                                                        <h3>@dish.Title</h3>
                                                        <p> @dish.Subtitle</p>
                                                    </div>
                                                    <span class="offer-price">@dish.Price р</span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--end tab-menu-->
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<!--<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">-->
<!-- The container for the modal slides -->
<!--<div class="slides"></div>-->
<!-- Controls for the borderless lightbox -->
<!--<h3 class="title">Title</h3>
<a class="prev">‹</a>
<a class="next">›</a>
<a class="close">×</a>-->
<!-- The modal dialog, which will be used to wrap the lightbox content -->
<!--</div>-->
