@{
    DataManager dataManager = ViewBag.DataManager;
    var galleryAlbums = dataManager.GalleryAlbums.GetGalleryAlbums();
   
}

<div class="gallery-main pad-top-200 pad-bottom-100">
    <div class="container">
        @*<h3><a asp-area="Admin" asp-controller="Gallery" asp-action="EditAlbum" asp-route-id="@Guid.NewGuid()">Добавить Альбом</a></h3>*@
        <form asp-area="Admin" asp-controller="Gallery" asp-action="EditAlbum" asp-route-id="" method="get" >
            <button id="EditDishBtn" type="submit" class="btn btn-info add-new"><i class="fa fa-plus"></i>Добавить Альбом</button>
        </form>
        <div class="grid-portfolio my-custom-scrollbar" id="portfolio">
            <div class="row" id="blink5">
                @foreach (GalleryAlbum album in galleryAlbums)
                {
                    string titleImagePath = dataManager.GalleryAlbums.GetRandomPhoto(album.Id).AlbumPhotoPath;
                    <div class="col-md-4 col-sm-6">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <a asp-area="Admin" asp-controller="Gallery" asp-action="EditAlbum" asp-route-id="@album.Id">
                                    <div class="hover-effect">
                                        <div class="hover-content">
                                            <p>@album.Title @album.EventDate.ToShortDateString()</p>
                                        </div>
                                    </div>
                                </a>
                                <div class="gallery-image">
                                    <img src="~/images/gallery/album from @album.EventDate.ToShortDateString()/@titleImagePath?width=1920&height=1280">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>