@model DishesСategory

@{
    string strTitle = "Список Блюд";
    ViewBag.Title = strTitle;
}

<div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">

                    <div class="banner-cell">
                        <div class="container-lg">
                            <div class="table-wrapper2">
                                <div class="table-title2">
                                    <div class="row">
                                        <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table2 table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Department</th>
                                            <th>Phone</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>John Doe</td>
                                            <td>Administration</td>
                                            <td>(171) 555-2222</td>
                                            <td>
                                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Peter Parker</td>
                                            <td>Customer Service</td>
                                            <td>(313) 555-5735</td>
                                            <td>
                                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fran Wilson</td>
                                            <td>Human Resources</td>
                                            <td>(503) 555-9931</td>
                                            <td>
                                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                                <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>




                        <h1>@strTitle</h1>
                        <div>
                            <div class="div-box">
                                <a asp-area="Admin" asp-controller="Dishes" asp-action="EditDish" asp-route-id="@Model.Id">Добавить блюдо</a>
                            </div>
                            <div>
                                @if (Model.Dishes != null)
                                {
                                    foreach (Dish entity in Model.Dishes)
                                    {
                                        <div>
                                            <a asp-area="Admin" asp-controller="Dishes" asp-action="EditDish" asp-route-id="@entity.Id">редактировать</a>
                                            |
                                            <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Dishes" asp-action="Delete" method="post">
                                                <input type="hidden" name="id" value="@entity.Id">
                                                <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                                            </form>
                                            |
                                            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                                                @($"{entity.Title}")
                                            </a>
                                        </div>
                                    }
                                }
                                <a asp-area="Admin" asp-controller="Dishes" asp-action="Index">Назад</a>
                            </div>
                        </div>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->
